{% extends "layout.html" %}
{% block content %}

{% if entry %}
	<div class="card">
		<!-- <div class="card-image waves-effect waves-block waves-light">
			<img class="activator" src="images/office.jpg">
		</div> -->
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-4">{{entry.title}}<i class="material-icons right">more_vert</i></span>
			<p class="black-text">Category: {{entry.category}}</p>
			<hr>
			{% if entry.subcategory %}
				<p class="black-text">Subcategory: {{entry.subcategory}}</p>
				<hr>
			{% endif %}
			<p class="black-text">Contributors:
			{% for contributor in contributors %}
				<a href="{% url 'profile' contributor %}">{{ contributor }}</a>
			{% endfor %}
			</p>
		</div>
		<div class="card-reveal">
			<span class="card-title grey-text text-darken-4">Date added: {{entry.add_date}}<i class="material-icons right">close</i></span>
			<p class="black-text">Description: {{entry.description}}</p>
		</div>
	</div>
{% else %}
	<h3>No such entries!</h3>

{% endif %}

{% endblock %}