{% extends "layout.html" %}
{% block content %}

<h3 class="center-align mt50 search-title-class">What would you like to conquer next?</h3>
<form method="POST" action=".">
	{% csrf_token %}
	<div class="row">
		<div class="input-field col s12 search-input-container-class">
			<input id="search" type="text" class="validate center-align search-input-class" name="query" autofocus="true" value="{{ search }}" contenteditable="true">
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 mt0 center-align">
			<input class="btn search-btn-class" type="submit" value="Search"></input>
			{% if query %}
				<input class="btn search-btn-class" type="button" id="reset-search" value="Reset"></input>
			{% endif %}
		</div>
	</div>
</form>


<!-- <h4 class="center-align mt100">Don't want to search?</h4> -->
<div class="row">
	<div class="input-field col s12 mt0 center-align">
		<!-- Modal Trigger -->
		<a class="waves-effect waves-light btn modal-trigger mb100" href="#modal">New Entry</a>
	</div>
</div>

<!-- Modal Structure -->
			<div id="modal" class="modal">
				<div class="modal-content black-text pb0">
					<h4 class="black-text">I Want To...</h4>
					<div class="row">
						<form class="col s12" method="POST" action=".">
							{% csrf_token %}
							<div class="row">
								<div class="input-field col s12">
									<input id="title" type="text" class="validate" placeholder="Required" name="title" value="{{ search }}" autocomplete="off">
									<label for="title">Entry Title:</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input id="description" type="text" class="validate" placeholder="Optional" name="description" autocomplete="off">
									<label for="description">Description:</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s6">
									<!-- <input id="category" type="text" class="validate" name="category"> -->
									<input type="text" id="category" class="autocomplete" placeholder="Required" autocomplete="off">
          							<label for="category">Category:</label>
									<!-- <label for="category">Category:</label> -->
								</div>
								<div class="input-field col s6">
									<input id="subcategory" type="text" class="validate" placeholder="Optional" name="subcategory" autocomplete="off">
									<label for="subcategory">Subcategory:</label>
								</div>
							</div>
						</form>
					</div>
				</div>
					<div class="modal-footer">
					<!-- <a href="#!" type="submit" class="modal-close waves-effect waves-green btn-flat">Create</a> -->
					<input class="modal-close waves-effect waves-green btn-flat modal-submit-class" type="submit" value="Create" data-modal=""></input>
				</div>
			</div>

{% if query %}
	<h4 class="center-align mt100">{% if not entries %}No {% endif %}Search results for:</h4>
	<ul>
		{% for keyword in query %}
			<li>{{ keyword }}</li>
		{% endfor %}
	</ul>
{% else %}
	<h4 class="center-align mt100">All Entries:</h4>
{% endif %}

{% if entries %}
	<div class="row">
		{% for entry in entries %}
			<div class="col s12 m6">
				<div class="card">
					<a href="{% url 'entry' entry.title_clean %}">
					<div class="card-content entry-class">
						<span class="card-title grey-text text-darken-4">{{entry.title}}</span>
						<p class="black-text">Category: {{entry.category}}</p>
						<hr>
						<p class="black-text">Date Added: {{entry.add_date}}</p>
						<hr>
						<p class="black-text">Description: {{entry.description}}</p>
					</div>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}

{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.name }}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>Non-field: {{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}