{% extends "layout.html" %}
{% block content %}

<div class="container">
<h3 class="center-align mt50 search-title-class">What would you like to conquer next?</h3>
<form class="mb0" method="POST" action=".">
	{% csrf_token %}
	<div class="row">
		<div class="input-field col s12 search-input-container-class">
			<input id="search" type="text" class="validate center-align search-input-class" name="query" autofocus="true" value="{{ search }}" contenteditable="true">
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12 mt0 center-align">
			<input id="test" class="btn search-btn-class" type="submit" value="Search"></input>
			{% if query %}
				<a href="/" id="test" class="btn search-btn-class a-btn">Reset</a>
				<!-- <input class="btn search-btn-class" type="button" id="reset-search" value="Reset"></input> -->
			{% endif %}
		</div>
	</div>
</form>
<div class="row">
	<div class="input-field col s12 mt0 center-align">
		<a class="btn search-btn-class a-btn" type="submit" href="#create-new">Create</a>
	</div>
</div>

{% if query %}
	<h4 class="center-align mt100">{% if not entries %}No {% endif %}Search results for:</h4>
	<div class="container center-align">
		{% for keyword in query %}
			<h5>{{ keyword }}</h5>
		{% endfor %}
	</div>
{% else %}
	<h4 class="center-align mt100">All Entries:</h4>
{% endif %}

{% if entries %}
	<div class="row">
		{% for entry in entries %}
			<div class="col m12 l6">
				<div class="card">
					<a href="{% url 'entry' entry.title_clean %}">
					<div class="card-content entry-class">
						<span class="card-title grey-text text-darken-4 truncate">{{entry.title}}</span>
						<p class="black-text">Category: {{entry.category}}</p>
						<hr>
						<p class="black-text">Date Added: {{entry.add_date}}</p>
							<hr>
						{% if entry.description %}
							<p class="black-text">Description: {{entry.description}}</p>
						{% else %}
							<p style="padding-bottom: 21px;"> </p>
						{% endif %}
					</div>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}


<div id="create-new" class="container">
	<h4 class="center-align mt100">Create New</h4>
	<div class="row">
		<form class="col s12" method="POST" action=".">
			{% csrf_token %}
			<div class="row">
				<div class="input-field col s12">
					<input id="title" type="text" class="validate" placeholder="Required" name="title" value="{{ search }}" autocomplete="off">
					<label for="title">Entry Title:</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input id="description" type="text" class="validate" placeholder="Optional" name="description" autocomplete="off">
					<label for="description">Description:</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input type="text" id="category" class="autocomplete" placeholder="Required" autocomplete="off">
						<label for="category">Category:</label>
				</div>
				<div class="input-field col s6">
					<input id="subcategory" type="text" class="validate" placeholder="Optional" name="subcategory" autocomplete="off">
					<label for="subcategory">Subcategory:</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12 center-align">
					<a id="entry-submit" class="waves-effect waves-light btn" type="submit" value="Create">Create</a>
				</div>
			</div>
		</form>
	</div>
</div>


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.name }}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>Non-field: {{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
</div>

<script>
	{% for category in categories %}
		categories['{{ category }}'] = null;
	{% endfor %}
</script>
{% endblock %}